<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ProgramaholicsaccdbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Tyler\Documents\Visual Studio 2012\WebSites\ProgramaholicsAnonymous\Programaholicsaccdb.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=Dylan2010"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Tyler\Documents\Visual Studio 2012\WebSites\ProgramaholicsAnonymous\Programaholicsaccdb.accdb&quot;;Jet OLEDB:Database Password=Dylan2010"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Tyler\Documents\Visual Studio 2012\WebSites\ProgramaholicsAnonymous\Programaholicsaccdb.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=Dylan2010"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Tyler\Documents\Visual Studio 2012\WebSites\ProgramaholicsAnonymous\Programaholicsaccdb.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Tyler\Documents\Visual Studio 2015\WebSites\ProgramaholicsAnonymous\Programaholicsaccdb.accdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
</configuration>